* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sana', sans-serif;
    scroll-behavior: smooth;
}

.pgNo-container{
    align-items: center;
    justify-content: center;
    padding-left: 600px;
    /*padding-top: 20px;*/
}

.active, .pgNo-container:hover page-item:hover{
    background: rgb(89, 95, 95);
}

.heading-container{
    text-align: center;
}


.galleryImg, object{
    width: fit-content;
    height: auto;
}
.galleryImg img{
    width: 100%;
    height: auto;
}




.gallery-img, object{
    padding-top: 20rem;
    width: fit-content;
    height: auto;
}

.gallery-img img{
    padding-top: 20rem;
    width: 100%;
    height: auto;
}

.gallery1-container{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
}

/* .gallery1-container, object{
    padding-top: 2rem;
    width: fit-content;
    height: auto;
} */

.galleryWRT{
    margin-top: 20px;
}


.gallery2{
    padding-top: 2rem;
}

.varanasi{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:20px;
    margin: bottom 10px;
}



.picture{
    position: relative;
    height: 230px;
    border-radius: 10px;
}

.picture img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}


.imp-img{
    margin-top: 10%;
}

.img-area{
    text-align: center;
    color: #fff;
    position: relative;
}

.img-area img{
    width: 100%;
    height: 500px;
}

.img-text,
.img-area:after{
    width: 100%;
    position: absolute;
    left: 0;
}

.img-area:after{
    content: '';
    height: 100%;
    top: 0;
    transition: .5s;
}

.img-area:hover:after{
    background: linear-gradient(to bottom, rgba(199, 0, 56, 0.186) 0, rgba(199,0,57,.25) 25%,
     rgba(49, 6, 18, 0.75) 75%, rgba(199, 0, 56, 0.186) 100%);
}

.img-text{
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 3s;
    transform: translateY(145px);
    transition: all .5s cubic-bezier(.13,.62,.81,.91) 0s;
}

.img-text h3{
    font-family: big john;
}

.img-text:hover .img-text{
    opacity: 1;
    transform: translateY(0);
}


.team-area{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 90%;
    margin-left: 80px;
    /*align-items: center;
    /*display: flex;*/
    /*width: 90%;
    justify-content: space-around;*/
    /*position: relative;*/
}

.single-team{
    width: 400px;
    height: 500px;
    /*padding: 20px;*/
    background: #fff;
    position: relative;
    display: flex;
    align-items: center;
    transition: .6s ease-out;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
}

.single-team:hover{
    transform: translateY(15px);
}

.single-team:hover:before{
    opacity: 1;
}

.single-team:hover .team-text{
    opacity: 1;
    transform: translateY(0);
}

.single-team:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% ;
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.single-team img{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;

}

.single-team .team-text{
    position:relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;

}

.single-team h3{
    font-family: Shrikhand;
    margin: 0;
    margin-left: 10px;
    margin-top: 400px;
}

.single-team h5{
    font-size: 15px;
    margin-left: 10px;
    /*margin-top: 300px;*/
    /*text-align: center;*/
    
}



.pic{
    position: relative;
    height: 230px;
    grid-row: 20px;
    grid-column: 20px;
    padding: 10px;
}

.pic img{
    width: 100%;
    height: 100%;
    
    grid-row: 20px;
    grid-column: 20px;
}

.gallerygrid{
    margin-top: 50px;
    width: 100%;
    position: relative;
    justify-content: space-evenly;
    margin-bottom: 50px;
    overflow-x: hidden;
}
.grid-container{
    border: 1px solid black; 
    float: right;
    width: 40%;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 50px;
    /*margin-bottom: 175px; */

}
.grid-container h5{
    font-family:'Times New Roman', Times, serif;
    margin-left: 200px;
    font-size:x-large;
    font-weight: 700;
    position: relative;
    justify-content: center;
}
.grid-container p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:large;
    font-weight: 500;
    position: relative;
    justify-content: space-between;
}
.columns-grid{
    float: left;
    width: 50% ;
    margin: right ;
    margin-left: 20px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    overflow-x: hidden;
    
} 

