{% extends 'accounts/main.html' %}

{% block content  %}
{%load static%}

<div class="container">
    <div class="img-content">
        <img src="{% static 'images/ABOUT6.JPG' %}"></img> <!--1100x600-->
    </div>
</div>

<hr class="featurette-divider">
<!--ABOUT BG-->
<div class="container">
    <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">About Our CEO Mrs. Babita Gulati</h2>
        <p class="lead">Babita Gulati has has made a nichè in the industry by being
          acknowledged and awarded by eminent personalities.
          Being an established artist since 20 years, she believes in going
          in-depth and touching the intricacy of her art pieces to let the
          best result come out along with matching the requirement of
          
          her clients.
          
          Her skills, capabilities, and calibre has made her work in
          various international and national projects along with
          exhibiting her work at renowned galleries and art spaces.
          She has been an artist since her childhood with her specialty in
          murals, sculptures, and various forms of artwork. She believes
          in giving life to her work by adding aesthetic appeal and touch
          
          to whichever project that comes her way.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="{% static 'images/BG2.png' %}" data-holder-rendered="true">
    </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="imgAbout">
  <img src="{% static 'images/WORKSHOP.png' %}"></img>
</div>

<hr class="featurette-divider">

<!--WORKSHOP-->

<div class="container">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Our Workshop</h2>
        <p class="lead">Over the course of two decades, our journey as a tight-knit team has allowed us to hone our craft and perfect our artistry. With each passing year, we've grown in experience, refining our skills and deepening our understanding of the art forms we specialize in. Our focus remains on creating diverse forms of art that capture the imagination.<br> Whether it's the intricate storytelling of murals, the three-dimensional beauty of sculptures, the visual impact of wall art, the emotive power of paintings, or the structural elegance of metalwork, we take immense pride in our ability to bring these artistic visions to life. With two decades of experience behind us, our commitment to delivering exceptional artistry is unwavering, and we look forward to continuing our creative journey for years to come.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'images/ABOUT/WORKSHOP.jpg' %}" data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>
</div>
</div>
</div>
<hr class="featurette-divider">

<!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://source.unsplash.com/1000x300/?nature,water" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://source.unsplash.com/1000x300/?nature,water" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://source.unsplash.com/1000x300/?nature,water" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://source.unsplash.com/1000x300/?nature,water" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://source.unsplash.com/1000x300/?nature,water" alt="Fifth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>-->
<!--<div class="container">
  <h1> CONTACT US </h1>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <!-- Add font awesome icons 
            <a href="#" class="fa fa-google"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
</div>
-->

<div class="container marketing text-center">

  <div class="contact">
    <h1> CONTACT US</h1>
  </div>
    
  
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>      
        <h2 class="fw-normal align-items-center">Our office</h2>
      <p>Babita Arts & Designs, 
        58, Pace city 1, 
        Sector 37,
        Gurgaon, Haryana -122001 </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg>      <h2 class="fw-normal">Phone</h2>
      <p>Babita Gulati: 9810471555<br>
        Anil Gulati: 9810888100
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="70" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
      </svg>      <h2 class="fw-normal">Mail id</h2>
      <p>
        contact. babitadesigns@gmail.com</p>
    </div><!-- /.col-lg-4 -->

  </div>
  
<!--OUR CLIENTS-->

<div class="clients-container">
    <h1> OUR CLIENTS</h1>
    <div class="clients-img">
      <img src="{% static 'images/clients1.png' %}" >
    </div>
  </div>
<!-- 
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 225; " src="{% static 'images/ABOUT/1.png' %}" data-holder-rendered="true">
                <div class="d-flex justify-content-between align-items-center">
                </div>
            </div>
        </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/ABOUT/2.png' %}" data-holder-rendered="true" >
          <div class="d-flex justify-content-between align-items-center">                
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/3.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="d-flex justify-content-between align-items-center">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/4.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="d-flex justify-content-between align-items-center">
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/5.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="d-flex justify-content-between align-items-center">
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/6.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="d-flex justify-content-between align-items-center">
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/7.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="d-flex justify-content-between align-items-center">
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/8.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="d-flex justify-content-between align-items-center">
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/13.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        
        </div>
      </div>
    </div>
   
  <div class="row">
      <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]"  src="{% static 'images/ABOUT/10.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
              <div class="d-flex justify-content-between align-items-center">
              </div>
          </div>
      </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/11.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="d-flex justify-content-between align-items-center">                
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/ABOUT/12.jpeg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
-->

{% endblock %}