{% extends 'accounts/main.html' %}

{% block content  %}
{%load static%}

<div class="galleryImg">
<img src="{% static 'images/GALLERY77.png' %}"></img>
</div>



<!--<div class="clients-container">
  <div class="columns-latest">
    <h1>Latest Work</h1>
  
  <!--<div class="columns-latest">
  <h1>VARANASI</h1>
  </div>
    <h2><span class="text-muted">See for yourself.</span></h2>
  </div>-->
<hr class="featurette-divider">

<div class="container">
    
<div class="columns-latest">
  <h1>Varanasi Railway Station</h1>
  <h5><span class="text-muted">Our government project at Varanasi Railway Station featured our oil paintings and metal installations, all aimed at bringing Varanasi's essence to life. Through are we showcased the local culture, city beauty, and iconic ghats. Our aim was to bring the spirit of Varanasi to life, combining tradition and spirituality.</span></h5>
  
</div>
</div>


<div class="varanasi">
  
<div class="picture var1">
  <img src="{% static 'images/Gallery/varanasi131.jpg' %}">
</div>
<div class="picture var2">
  <img src="{% static 'images/Gallery/varanasi12.jpg' %} ">
</div>
<div class="picture var1">
  <img src="{% static 'images/Gallery/varanasi23.jpg' %}">
</div>
<div class="picture var2">
  <img src="{% static 'images/Gallery/varanasi121.jpg' %} ">
</div>
</div>
</div>

<hr class="featurette-divider">

<!--GRID & WRITE UP-->

  <div class="gallerygrid">
    
    <div class="columns-grid">

      <div class="pic place">
        <img src="{% static 'images/uttarkashi5.jpg' %}">
      </div>
      <div class="pic place">
          <img src="{% static 'images/utarkashi2.jpg' %}">
      </div>
      <div class="pic place">
            <img src="{% static 'images/uttarkashi33.jpg' %}">
      </div>
      <div class="pic place">
        <img src="{% static 'images/uttarkashi222.jpg' %}">
      </div>
      <!--<div class="pic place">
          <img src="{% static 'images/GRID40.jpg' %}">
      </div>
      <div class="pic place">
            <img src="{% static 'images/GRID50.png' %}">
      </div>-->
      
    </div>

    <div class="gridcontent">
      <div class="grid-container">
        <h5>Namami Gange Project </h5>
        <p>In a meaningful government effort, we undertook a project at the stunning ghats of Uttarkashi. Our goal was to enhance the beauty of the sacred Ganga River while vividly portraying its rich history. Through intricate murals, we captured the essence of this holy river, celebrating its cultural and spiritual significance. This project not only added to the allure of Uttarkashi's ghats but also served as a tribute to the legacy of the Ganga, leaving a lasting impression on all who visit.</p>
      </div>
    </div>

  </div>
  <hr class="featurette-divider">
<!-- 
<div class="clients-container">
  <div class="heading-container">
  <h2>Donec ullamcorper nulla non metus auctor fringilla</h2>
  <h2><span class="text-muted">See for yourself.</span></h2>
  <p class="lead">UTTARKASHI</p>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/uttarkashi222.jpg' %}" data-holder-rendered="true">
              <div class="d-flex justify-content-between align-items-center">
              </div>
          </div>
      </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/utarkashi2.jpg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="d-flex justify-content-between align-items-center">                
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/uttarkashi33.jpg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>
</div>
-->
<!--IMP WORK

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">SONIPAT <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'images/allAK.jpg' %}" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">MATHURA <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'images/imp2.png' %}" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
</div>

<hr class="featurette-divider">

<div class="container">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">ARMY <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'images/goddess1.jpg' %}" data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
</div>


<hr class="featurette-divider">




<div class="clients-container">
  <div class="heading-container">
  <h2>Donec ullamcorper nulla non metus auctor fringilla</h2>
  <h2><span class="text-muted">See for yourself.</span></h2>
  <p class="lead">UTTARKASHI</p>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/uttarkashi222.jpg' %}" data-holder-rendered="true">
              <div class="d-flex justify-content-between align-items-center">
              </div>
          </div>
      </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/utarkashi2.jpg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="d-flex justify-content-between align-items-center">                
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/uttarkashi33.jpg' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="d-flex justify-content-between align-items-center">
        </div>
    </div>
  </div>
</div>-->

<!--MORE PICTURES

<div class="clients-container">
  <div class="columns-latest">
    <h1>Latest Work</h1>
    </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="{% static 'images/more1.jpg' %}" data-holder-rendered="true">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/tile.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">                
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="{% static 'images/buddha.png' %}" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
          </div>
        </div>
      </div>
    </div>
</div>-->


<!--<div class="imp-img">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="img-area">
        <img src="{% static 'images/goddess1.jpg' %}" alt="">
        <div class="img-text">
          <h3>Hi</h3>
          <h5>Hello</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="img-area">
        <img src="{% static 'images/goddess1.jpg' %}" alt="">
        <div class="img-text">
          <h3>Hi</h3>
          <h5>Hello</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="img-area">
        <img src="{% static 'images/goddess1.jpg' %}" alt="">
        <div class="img-text">
          <h3>Hi</h3>
          <h5>Hello</h5>
        </div>
      </div>
    </div>
  </div>
</div>-->


<div class="team-area">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/bhutan.png' %}" alt="">
        <div class="team-text">
          <h3>Bhutan's Royalty</h3>
          <h5>This captivating family portrait of the Bhutanese Royal Family, displayed at the enchanting Lingkana Palace, embodies regal grace and familial unity, evoking a profound sense of heritage and tradition.</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/sample.png' %}" alt="">
        <div class="team-text">
          <h3>Neo Gothic Fable</h3>
          <h5>A dramatic and decadent piece of art, where the predominant tonalities are black and gold. This captivating artwork combines the intricate beauty of neo-Gothic aesthetics with the rich storytelling tradition of fables.</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/ganesh.png' %}" alt=""> 
        <div class="team-text">
          <h3>Lord Ganesh</h3>
          <h5>Our Ganesh Sculpture, gracing Ambience Mall in Gurugram during the festive season, radiates divine beauty and spirituality, adding a touch of celebration and devotion to the atmosphere</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-area">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/imp2.png' %}" alt=""> 
        <div class="team-text">
          <h3>Wings of Enlightenment</h3>
          <h5>An exquisite art sculpture designed for a client's entryway, this stunning piece embodies elegance and welcomes all with its artistic charm</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/godess.jpg' %}" alt="">
        <div class="team-text">
          <h3>Goddess Saraswati</h3>
          <h5>A surreal and captivating art piece featuring the divine Goddess Saraswati, the embodiment of knowledge, art, and wisdom.</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/horse.png' %}" alt=""> 
        <div class="team-text">
          <h3>Arabian Horses</h3>
          <h5>Featuring a poised canvas print of Arabian horses symbolizing grandeur and strength, this artwork is believed to bring financial stability, luck, and prosperity into your home.</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-area">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/more1.jpg' %}" alt=""> 
        <div class="team-text">
          <h3>Blue Elegance</h3>
          <h5>Our handcrafted beautiful artwork complimenting the new collection of Adidas merchandise gracefully positioned at the flagship store in Dlf Promenade Mall, Vasant Kunj</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/allAK.jpg' %}" alt="">
        <div class="team-text">
          <h3>Lord Krishna and Gupta</h3>
          <h5>5-meter tall Fiber Sculpture of Lord Krishna and Gupta depicting the famous scene from Mahabharata placed at Sonipat.
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/buddha2.png' %}" alt=""> 
        <div class="team-text">
          <h3>Gautam Buddha</h3>
          <h5>A symbol of calmness, tranquility and peace to one of the leading hospitals in Faridabad, Haryana - Sarvodya Hospital</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="team-area">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/nandi.jpg' %}" alt="">
        <div class="team-text">
          <h3>Nandiji</h3>
          <h5>This beautiful mural of Nandiji embodies unwavering devotion and strength, celebrating the profound significance of this sacred bull as the loyal vehicle of Lord Shiva</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/angle.png' %}" alt=""> 
        <div class="team-text">
          <h3>Greek Goddess</h3>
          <h5>An exquisite sculpture personifying the grace and allure of a Greek goddess, paying homage to the enduring legacy of Greek mythology and classical art</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="single-team">
        <img src="{% static 'images/picture5.jpg' %}" alt=""> 
        <div class="team-text">
          <h3>Buddha's Peace</h3>
          <h5>A Serene Buddha Mural Gracefully Adorning a Home, Infusing Peace and Tranquility</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="pgNo-container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      
      <li class="page-item " <li class="active"></li><a class="page-link" href="{% url 'gallery'%}">1</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'scultures'%}">2</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'murals'%}">3</a></li>
      <!--<li class="page-item"><a class="page-link" href="{% url 'wallpaintings'%}">4</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'metal'%}">4</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'paintings'%}">5</a></li>
    </ul>
  </nav>
</div>
-->






{% endblock %}